<script type="text/javascript">
$(function() {
    google.setOnLoadCallback(drawChart(<%= current_user.credit%>, <%= current_user.debt%>));
});
</script>
<div class="container">
  <div class="credit-debt-chart" id="chart_div"></div>
  <%= link_to 'Expenses', expenses_path, class: 'btn btn-large btn-primary' %>
  <h2><%= t 'home.recent_activity' %></h2>
</div>


