<% provide :title, t(".title", default: 'Dutch') %>
<div class="row">
  <div class="col-md-12">
    <div class="welcome_banner jumbotron">
      <h1><%= t ".page_greeting" %></h1>
      <p><%= t ".page_caption" %></p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Register</h3>
          </div>
          <div class="panel-body">
            <%= render 'signup' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


