<div class="row">
  <div class="col-md-12">
    <div class="welcome_banner jumbotron">
      <h1>Welcome to Dutch!</h1>
      <p>Sharing expenses with friends can be fun!</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <%= render 'signin' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <%= render 'signup' %>
        </div>
      </div>
    </div>
  </div>
</div>


