<% provide :title, t(".title", default: 'Dutch') %>
<div class="row">
  <div class="col-md-12">
    <div class="welcome_banner jumbotron">
      <h1><%= t ".page_greeting" %></h1>
      <p><%= t ".page_caption" %></p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="well">
          <%= render 'signin' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="well">
          <%= render 'signup' %>
        </div>
      </div>
    </div>
  </div>
</div>


