@import "bootstrap";
@import "bootstrap-responsive";

/* header */
#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: bold;
  color: #fff;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

body {
  margin-top: 80px;
}

.search-dropdown {

  margin-top: -10px;
  margin-left: 15px;
}

.dropdown-user {
  color: #ffffff;
  text-transform: uppercase;
}

.nav-top {
  padding-top: 10px;
}

.dropdown-user:hover {
  color: #fff;
  text-decoration: none;

.credit-debt-chart {
  width: 900px;
  height: 500px;
}