<h1>Expense List</h1>
<% if @expenses.any? %>
<table class="table table-striped">
  <thead>
  <tr>
    <td>Created on</td>
    <td>Name</td>
    <td>Expense Date</td>
    <td>Amount</td>
  </tr>
  </thead>
  <tbody>
  <% @expenses.each do |expense| %>
  <tr>
    <td><%= time_ago_in_words(expense.created_at) %> ago</td>
    <td><%= expense.name %></td>
    <td><%= expense.expense_date.to_formatted_s(:rfc822) %></td>
    <td><%= expense.amount %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>
