<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="pull-left">
    <small>v<%= APP_VERSION %></small>
  </div>
  <div class="pull-right">
    <small>&copy Copyright DutchApp</small>
  </div>
</nav>