<footer class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
		<div class="pull-right">
			<small>&copy Copyright DutchApp</small>
		</div>
		<% if mobile_device? %>
			<%= link_to "Full Site", mobile: 0 %>
		<% else %>
			<%= link_to "Mobile Site", mobile: 1 %>
		<% end %>
	</div>
</footer>