<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <%= link_to "Dutch", root_path, id: "logo" %>
          <% if user_signed_in? %>
            <div class="nav nav-pills nav-top pull-right">
              <a class="dropdown-toggle dropdown-user" data-toggle='dropdown' href="#">
                <i class="icon-user icon-white"></i> <%= current_user.name %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= button_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-link' %></li>
              </ul>
            </div>
          <% end %>
      </nav>
    </div>
  </div>
</header>